@import "./theme.css";
/* The file needs to be inside the container. Symlink doesn't work, file inside works */

:root {
    --pf-global--primary-color--100: var(--button-primary-bgc);
    --pf-global--primary-color--200: var(--button-primary-bgc-hover);
    --pf-global--primary-color--dark-100: var(--color-accent);
    --default-background-color: var(--bgc-content-body);
    --pf-c-form__label--Color: var(--font-color-contrast-high);
    --pf-global--BackgroundColor--100: var(--bgc-content-body);
/*    --link-hover-color: var(--button-bgc-hover); */
    --pf-global--danger-color--100: var(--bgc-error);
}

.kc-social-gray{
    color: var(--pf-c-form__label--Color);
}

.pf-c-button {
    --pf-c-button--m-primary--focus--Color: var(--pf-global--primary-color--200);
    --pf-c-button--disabled--Color: var(--pf-c-form__label--Color);
    --pf-c-button--disabled--BackgroundColor: var(--pf-global--primary-color--200);
    --pf-c-button--disabled--BorderColor: transparent;
}

.required {
    color: var(--pf-global--danger-color--100);
}

.pf-c-dropdown__menu-item:hover {
    --pf-c-dropdown__menu-item--BackgroundColor: var(--pf-global--primary-color--dark-100);
}

.login-pf body {
    background-image: none;
    background-color: var(--default-background-color);
}

.login-pf a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

.card-pf {
    background: var(--bgc-content-container);
}

.login-pf-page .login-pf-header h1 {
    color: var(--pf-c-form__label--Color);
}

.login-pf-page .login-pf-header {
    background-image: url("../img/login_logo.svg");
    background-repeat: no-repeat;
    background-position: left;
}

#kc-locale-dropdown a {
    color: var(--pf-c-form__label--Color)
}

.pf-c-form-control {
    --pf-global--primary-color--200: unset;
    background-color: var(--bgc-inputfield-on-container);
    color: var(--pf-c-form__label--Color);
    --pf-c-form-control--invalid--Background: var(--bgc-inputfield-on-container) var(--pf-c-form-control--invalid--exclamation--Background);
}

#kc-form-login {
    color: var(--pf-c-form__label--Color);
}