:root {
    --pf-global--primary-color--100: var(--button-primary-bgc);
    --pf-global--primary-color--200: var(--button-primary-bgc-hover);
    --pf-global--primary-color--dark-100: var(--color-accent);
    --default-background-color: var(--bgc-content-body);
    --pf-c-form__label--Color: var(--font-color-contrast-high);
    --pf-global--BackgroundColor--100: var(--bgc-content-body);
/*    --link-hover-color: var(--button-bgc-hover); */
    --pf-global--danger-color--100: var(--bgc-error);
}

#kc-header-wrapper {
    text-transform: none;
    font-size: var(--font-size-2);
    line-height: var(--font-lineheight-normal);
    font-weight: 600;
    letter-spacing: 0;
    padding: 6rem 0 2.5rem;
}

input + .pf-c-form__label {
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    transform-origin: left center;
    transition: transform 0.3s, color 0.3s;
    pointer-events: none;
    font-size: var(--font-size-3);
}

input:not(:placeholder-shown) + .pf-c-form__label, input:focus + .pf-c-form__label {
    transform: translateY(-1rem) scale(0.65);
}

.kc-social-gray{
    color: var(--font-color-contrast-high);
}

.pf-c-button {
    --pf-c-button--m-primary--focus--Color: var(--pf-global--primary-color--200);
    background: var(--pf-global--primary-color--200);
    --pf-c-button--disabled--Color: var(--pf-c-form__label--Color);
    --pf-c-button--disabled--BackgroundColor: var(--pf-global--primary-color--200);
    --pf-c-button--disabled--BorderColor: transparent;
    color: var(--button-text-color, var(--font-color-contrast-high));
}

.required {
    color: var(--pf-global--danger-color--100);
}

.pf-c-dropdown__menu-item:hover {
    --pf-c-dropdown__menu-item--BackgroundColor: var(--pf-global--primary-color--dark-100);
}

.login-pf body {
    background: var(--login-background, var(--default-background-color));
    color: var(--font-color-contrast-high);
}

.login-pf a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

.login-pf-page {
    padding-top: 0;
    margin-bottom: 5.5rem;
}

.login-pf-page .card-pf p {
    color: var(--font-color-contrast-high);
}

.card-pf {
    box-shadow: none;
    background: var(--login-box-background, var(--bgc-content-container));
    border-radius: var(--border-radius-container, 0.5rem);
    border-top: none;
    width: 400px;
    min-height: 400px;
    padding: 2.4rem 1rem 3rem !important;
}

#kc-page-title {
    display: none;
}

#kc-header {
    color: var(--font-color-contrast-high);
    margin-bottom: 0;
}

#kc-form-buttons {
    margin-top: 0px;
}

.login-pf-page .login-pf-header h1 {
    color: var(--font-color-contrast-high);
}

.login-pf-page .login-pf-header {
    background: var(--login-logo, url("../img/login_logo.svg") no-repeat center);
    padding: 1.7rem 0;
    margin-bottom: 2.35rem;
}

#kc-username {
    display: none;
}

#kc-info {
    margin: inherit;
}

#kc-info-wrapper {
    font-size: inherit;
    color: var(--font-color-contrast-high);
    background-color: inherit;
    text-align: left;
}

#kc-locale {
    top: 3rem;
}

@media (max-width: 767px) {
    #kc-locale {
        position: relative;
        width: inherit;
        right: 0;
    }
}

#kc-locale-dropdown a {
    color: var(--font-color-contrast-high);
}

#kc-locale-dropdown ul a:hover {
    color: var(--button-text-color, var(--font-color-contrast-high));
}

.form-group {
    margin-bottom: 0;
    position: relative;
}

.pf-c-button.pf-m-control {
    --pf-c-button--BorderRadius: var(--pf-c-button--m-control--BorderRadius);
    --pf-c-button--disabled--BackgroundColor: var(--pf-c-button--m-control--disabled--BackgroundColor);
    --pf-c-button--after--BorderWidth: var(--pf-c-button--m-control--after--BorderWidth);
    --pf-c-button--after--BorderColor: var(--pf-c-button--m-control--after--BorderTopColor) var(--pf-c-button--m-control--after--BorderRightColor) var(--pf-c-button--m-control--after--BorderBottomColor) var(--pf-c-button--m-control--after--BorderLeftColor);
    color: var(--font-color-contrast-high);
    background-color: var(--pf-global--primary-color--100);
}

.pf-c-button.pf-m-primary {
    color: var(--button-text-color, var(--font-color-contrast-high));
    background-color: var(--pf-c-button--m-primary--BackgroundColor);
    position: relative;
    width: 100%;
    padding: 0.85rem 1rem;
    border: none;
    border-radius: var(--border-radius-interactable, 0.25rem);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-3);
}

.pf-c-button.pf-m-primary:focus {
    --pf-c-button--m-primary--Color: var(--pf-global--Color--light-100);
}

.pf-c-form-control {
    --pf-global--primary-color--200: unset;
    background-color: var(--bgc-inputfield-on-container);
    color: var(--font-color-contrast-high);
    --pf-c-form-control--invalid--Background: var(--bgc-inputfield-on-container) var(--pf-c-form-control--invalid--exclamation--Background);
    --pf-global--primary-color--200: unset;
    --border-color: transparent;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1.2rem 1rem 0.3rem 1rem !important;
    border: 1px solid var(--border-color) !important;
    border-radius: var(--border-radius-interactable, 0.25rem);
    outline: none;
    font-size: var(--font-size-3);
    transition: border 250ms;
    height: unset !important;
}

.pf-c-form-control:focus {
    padding-bottom: 0.8rem;
    border-bottom-width: 0;
}

#kc-form-login {
    color: var(--font-color-contrast-high);
}

.ucs-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: var(--font-lineheight-normal);
    font-size: var(--font-size-body);
    color: var(--font-color-contrast-high);
    margin-bottom: 1rem;
}

.ucs-p a {
    color: inherit;
    transition: color 250ms, text-decoration-thickness 250ms;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.login-pf .ucs-p a:hover, .login-pf .ucs-p a:focus {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
