#!/bin/bash

set -e

# create password
pwdfile="/etc/keycloak.secret"
[ -e "$pwdfile" ] || makepasswd --chars 20 > "$pwdfile"

# install jq TODO remove
command -v jq || {
    apt-get -qq update
    apt-get -qq -y install jq
}

apt-get -q -y install python3-pip python3-setuptools
pip3 install requests==2.25.1 urllib3==1.26.5 python-jose # For some reason the python module doesn't work with some version
wget "https://github.com/marcospereirampj/python-keycloak/archive/refs/tags/0.27.0.tar.gz" # TODO: Is there another way?
tar -xzf 0.27.0.tar.gz
cd python-keycloak-0.27.0/;python3 "setup.py" install; cd -


## example: this way we can install files on the host:

# management tool
keycloak_management_script=/usr/sbin/univention-keycloak-config
echo "Installing Keycloak management script"
	cat << EOF >"$keycloak_management_script"
%KEYCLOAK-MANAGEMENT-SCRIPT%
EOF
chmod 755 "$keycloak_management_script"

exit 0
